@model List<Shoplinhkien.ModelViews.CartItem>
@if (Model != null && Model.Count() > 0)
{
    @*<li class="minicart-wrap me-3 me-lg-0">
        <a href="#miniCart" class="minicart-btn toolbar-btn">
            <i class="pe-7s-shopbag"></i>
            <span class="quantity">@Model.Count()</span>
        </a>
    </li>*@

    <a href="#" ><span class="my-cart"><span class="total-pro">@Model.Count()</span><span>cart</span></span></a>
}
else
{
   @* <li class="minicart-wrap me-3 me-lg-0">
        <a href="#miniCart" class="toolbar-btn">
            <i class="pe-7s-shopbag"></i>
            <span class="quantity">0</span>
        </a>
    </li>*@
    @*<div class="col-lg-4 col-md-12">
        <div class="cart-box mt-all-30">*@

    <a href="#" style=" position: absolute; left:75px; top:15px;"><span class="my-cart"><span class="total-pro">0</span></span></a>
      @*    
        </div>
    </div>*@
    
 

}
