@model Shoplinhkien.Models.Product
@{
    ViewData["Title"] = "Chỉnh sửa sản phẩm :" + Model.ProductName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@*@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}*@


@*<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDesc" class="control-label"></label>
                <input asp-for="ShortDesc" class="form-control" />
                <span asp-validation-for="ShortDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatId" class="control-label"></label>
                <select asp-for="CatId" class="form-control" asp-items="ViewBag.CatId"></select>
                <span asp-validation-for="CatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Video" class="control-label"></label>
                <input asp-for="Video" class="form-control" />
                <span asp-validation-for="Video" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateModified" class="control-label"></label>
                <input asp-for="DateModified" class="form-control" />
                <span asp-validation-for="DateModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BestSellers" class="control-label"></label>
                <input asp-for="BestSellers" class="form-control" />
                <span asp-validation-for="BestSellers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeFlag" class="control-label"></label>
                <input asp-for="HomeFlag" class="form-control" />
                <span asp-validation-for="HomeFlag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Active" class="control-label"></label>
                <input asp-for="Active" class="form-control" />
                <span asp-validation-for="Active" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alias" class="control-label"></label>
                <input asp-for="Alias" class="form-control" />
                <span asp-validation-for="Alias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaDesc" class="control-label"></label>
                <input asp-for="MetaDesc" class="form-control" />
                <span asp-validation-for="MetaDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaKey" class="control-label"></label>
                <input asp-for="MetaKey" class="form-control" />
                <span asp-validation-for="MetaKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitslnStock" class="control-label"></label>
                <input asp-for="UnitslnStock" class="form-control" />
                <span asp-validation-for="UnitslnStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@


<form asp-controller="AdminProducts" asp-action="Edit" asp-route-id="@Model.ProductId" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" asp-for="Image" />
    <input type="hidden" asp-for="DateCreated" />
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="m-b-15">
                <button class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Save</span>
                </button>
            </div>
        </div>
        <div class="row">


            <div class="col-xl-10" style="margin-top:90px">


                <div class="nav-align-top mb-6">
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        <li class="nav-item">
                            <button type="button"
                                    class="nav-link active"
                                    role="tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#navs-justified-home"
                                    aria-controls="navs-justified-home"
                                    aria-selected="true">
                                <i class="tf-icons bx bx-home"></i> Basic Info
                                <span class="badge rounded-pill badge-center h-px-20 w-px-20 bg-label-danger">3</span>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button"
                                    class="nav-link"
                                    role="tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#navs-justified-profile"
                                    aria-controls="navs-justified-profile"
                                    aria-selected="false">
                                <i class="tf-icons bx bx-user"></i> Option Info
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button"
                                    class="nav-link"
                                    role="tab"
                                    data-bs-toggle="tab"
                                    data-bs-target="#navs-justified-messages"
                                    aria-controls="navs-justified-messages"
                                    aria-selected="false">
                                <i class="tf-icons bx bx-message-square"></i> Description
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="navs-justified-home" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="productName">Tên sản phẩm</label>
                                        <input type="text" class="form-control" asp-for="ProductName">
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="ShortDesc">Mô tả</label>
                                        <input type="text" class="form-control" asp-for="ShortDesc">
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label class="font-weight-semibold" for="productPrice">Giá bán</label>
                                            <input type="text" class="form-control" asp-for="Price">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="font-weight-semibold" for="productPrice">Discount</label>
                                            <input type="text" class="form-control" asp-for="Discount">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-6">
                                            <label class="font-weight-semibold" for="productCategory">Danh mục sản phẩm</label>
                                            <select class="custom-select" asp-for="CatId" style="min-width: 200px;" asp-items="ViewBag.DanhMuc">
                                                <option value="" disabled selected>Chọn danh mục</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-6">
                                            <label class="font-weight-semibold" for="productName">Hàng tồn kho</label>
                                            <input type="text" class="form-control" asp-for="UnitslnStock">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="productBrand">Ảnh đại diện</label>
                                        <input name="fThumb" type="file" class="form-control-file" asp-for="Image" />
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                    </div>
                                    <div class="row">
                                        <div class="m-t-25">

                                            <div class="form-check form-switch mb-2">
                                                <input class="form-check-input" type="checkbox" asp-for="Active" checked="" id="flexSwitchCheckDefault" />
                                                <label class="form-check-label" for="flexSwitchCheckDefault">Public</label>
                                            </div>

                                            <div class="form-check form-switch mb-2">
                                                <input class="form-check-input" type="checkbox" asp-for="HomeFlag" checked="" id="flexSwitchCheckDefault" />
                                                <label class="form-check-label" for="flexSwitchCheckDefault">HomeFlag</label>
                                            </div>

                                            <div class="form-check form-switch mb-2">
                                                <input class="form-check-input" type="checkbox" asp-for="BestSellers" checked="" id="flexSwitchCheckDefault" />
                                                <label class="form-check-label" for="flexSwitchCheckDefault">BestSellers</label>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="navs-justified-profile" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="productSize">Title</label>
                                        <input type="text" class="form-control" asp-for="Title">
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="productColors">MetaDesc</label>
                                        <input type="text" class="form-control" asp-for="MetaDesc">
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="productFit">MetaKey</label>
                                        <input type="text" class="form-control" asp-for="MetaKey">
                                    </div>
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="productFit">Tags</label>
                                        <input type="text" class="form-control" asp-for="Tags">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="navs-justified-messages" role="tabpanel">
                            <div class="card">
                                <div class="card-body">
                                    <textarea id="summernote" asp-for="Description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</form>
@section Scripts{


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote-bs4.js"></script>


    <script>
        $('textarea#summernote').summernote({
            placeholder: '',
            tabsize: 2,
            height: 100,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'italic', 'underline', 'clear']],
                // ['font', ['bold', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'clear']],
                //['fontname', ['fontname']],
                // ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'hr']],
                //['view', ['fullscreen', 'codeview']],
                ['help', ['help']]
            ],
        });
    </script>
}